@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="@Umbraco.Field("contentClass")">
	
<div class="content inner@(Html.Raw(Umbraco.Field("contentClass")))">
<h2>@Umbraco.Field("title")</h2>	
	
@Umbraco.RenderMacro("PublicationsList")
	<div class="clear"></div>
</div>
	
</div>	