@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="@Umbraco.Field("contentClass")">
	
	<div class="content inner@(Html.Raw(Umbraco.Field("contentClass")))">
		<div class="standardContent">
		@Umbraco.Field("bodyText")
		</div>
			
		<div class="extraContent">
			@Umbraco.Field("bodyText2")
		</div>
			<div class="clear"></div>
	</div>
		
		
</div>