@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<div id="slider" class="theme-default">
@Umbraco.RenderMacro("nivoSlider", new {nivoFolder="1110" , nivoAnimSpeed="500" , nivoPauseTime="5000" , nivoStartSlide="0" , nivoControlNav="1" , nivoDirectionNav="0" , nivoKeyboardNav="0" , nivoPauseOnHover="1" , nivoManualAdvance="0" , nivoBoxCols="0" , nivoBoxRows="0" , nivoCaptionOpacity="0.8" , nivoPrevText="prev" , nivoNextText="next" })
</div>